.App {
  background: linear-gradient(
    179.4deg,
    rgb(146, 221, 219) 31.2%,
    rgb(236, 167, 219) 90.9%
  );
  padding: 20px;
}

.App .App-header {
  font-size: 50px;
  text-align: center;
}

.App footer {
  text-align: center;
  font-size: 18px;
}
.App a {
  color: #088f8a;
  text-decoration: none;
}
